/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles*/

html {
  font-size: 16px;
}

/***BODY***/
body {
  color: #e2e3ed;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/*---------headlines---------*/
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  width: 85%;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.125rem;
}

/*---------lists---------*/
ul {
  font-size: 1.125rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

li {
  margin-right: 33px;
}

/*---------links---------*/
a {
  color: #e2e3ed;
  text-decoration: none;
}

/*---------paragraphs---------*/
p {
  font-size: 1em;
  line-height: 18px;
}

/*---------images---------*/
img {
  width: 100%;
}

/*---------address---------*/
address {
  font-style: normal;
}

/*---------content wrapper---------*/
.content-wrapper {
}

/******Header and Footer******/
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
    background-color: #202322;
}

/*****HEADER********/
main {
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

#logo {
  padding: 15px 0;
  width: 60%
}

.header-divider {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 17px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  width: 25%;
}

h1 {
  padding: 50px 0 330px;
}

/*-----------------------MOBILE---------------------*/
/*---------------HOMEPAGE---------------*/

/*********HERO AREA********/
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
    background: url('../img/hero.jpg') center no-repeat #333;
    background-size: cover;
}

/*******MAIN*********/
main {
  background: url("../img/rawpixel.jpg") center no-repeat #333;
  background-size: cover;
}

main .form-description {
  justify-content: center;
  padding: 29px 0 35px;
}

/***newsletter***/
.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
    background-color: #527158;
}

.aside .content-wrapper {
  padding-top: 0;
  padding-bottom: 50px;
  width: 85%;
}

#button {
  margin-top: 18px;
}

.aside p, input {
  width: 85%;
}

.form-description {
  width: 100%;
}

.form {
}

/***general info***/
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px 0 63px;
    text-align: center;
    width: 100%;
}

.h2 {
  width: 85%;
}

.features h2 {
  padding-bottom: 67px;
  text-align: left;
}

article .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

article p {
  padding-bottom: 50px;
}

icon {
  padding-bottom: 40px;
  width: 55%;
}

.features-item-description {
  width: 55%;
}

/**previous retreats**/
main .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px 0;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.reviews h2 {
  padding-bottom: 25px;
}

.reviews p {
  padding: 0 40px;
}

#reviews {
  background-color: #2a423a;
}

figure {
  width: 85%;
}

/********FOOTER*******/
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;
  padding: 50px 0 12px;
  text-align: center;
}

.footer-content h3 {
  padding-bottom: 20px;
}

.contact {
  padding-bottom: 47px;
}

#number {
  margin: 0;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 52px;
}

.social h3 {
  padding-bottom: 21px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}

.copyright {
  width: 100%;
}

/*---------------ABOUT PAGE---------------*/
/*****MAIN*****/
/**mission**/
.mission {
  background-color: #527158;
}

.mission .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 50px 0;
}

.mission p {
  padding-bottom: 0;
  width: 80%;
}

article .mission-content {
}

/**location**/
.map {
  width: 100%;
}

/**contact info**/
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
    background-color: #2a423a;
}

.info .content-wrapper{
  padding: 52px 0 50px;
  width: 100%;
}

.contact-info, .chat {
  width: 85%;
}

/*---------------FAQ PAGE---------------*/
/****MAIN****/
/****faq****/
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
    background-color: #527158;
}

.faq p {
  width: 85%;
}

#faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/***********buttons*****************/
aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*************TABLET*************/
@media only screen and (min-width: 768px) {
/*--------headlines-------*/
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

/*---------lists---------*/
  ul {
    font-size: 1em;
  }

/***BODY***/
  header,
  footer {
  }

/***----HOMEPAGE----***/
/**header**/
  header {
    justify-content: space-around;
  }

  header .content-wrapper {
    justify-content: space-between;
    padding: 0 65px;
    width: 100%;
  }

  #logo, nav {
    width: 45%;
  }

  #logo {
    padding: 31px 0 32px;
  }

  header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 0 40px;
  }

  .header-divider {
    width: 0;
  }

  .hero-area {
    width: 100%;
  }

  h1 {
    margin: 0;
    padding: 95px 0 420px;
  }

/**newsletter**/
  .form-description, .form {
    width: 50%;
  }

  main .form-description {
    padding: 0;
  }

  main .aside {
    padding: 49px 0 48px;
  }

  .aside .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-left: 90px;
    padding-right: 50px;
      align-items: flex-start;
  }

/**general info**/
  .features {
    padding: 96px 0 92px;
    width: 100%;
  }

  .features article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 320px;
  }

  .features-items {
    width: 50%;
  }

  .first, .second {
    padding: 38px 0 30px;
  }

  icon {
    padding: 48px 0 30px;
  }

/**reviews**/
  main .content-wrapper {
    padding-top: 70px;
    width: 100%;
  }

  #reviews {
    padding-bottom: 50px;
  }

  figure {
    width: 45%;
  }

  .reviews h3 {
    margin: 0;
    padding: 0;
  }

  .reviews p {
    padding: 0;
  }

  .reviews article {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 40%;
  }

/**footer**/
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .footer-content h3 {
    width: 100%;
  }

  .contact, .social {
    padding: 100px 0 102px;
    width: 50%;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

/***----ABOUT PAGE----***/
/**mission**/
  .mission .content-wrapper {
    box-sizing: border-box;
    padding: 98px 0;
    width: 100%;
  }

  .mission-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .mission p {
    width: 70%;
  }

/**contact info**/
  .info {
    justify-content: space-around;
    width: 100%;
  }

  .contact-info, .chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 42%;
  }

/***----FAQ PAGE----***/
  .faq {
    justify-content: space-around;
    width: 100%;
  }

  #faq {
    width: 100%;
  }

  .faq h3, .faq p {
    width: 90%;
  }

  .faq-content {
    align-self: flex-start;
    width: 45%;
  }
}

/***************DESKTOP***********/
@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }

/*--------headlines-------*/
    h1 {
      font-size: 3.33rem;
      padding: 43px 0 435px;
    }

    .hero-area {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.66rem;
    }

/*---------lists---------*/
    ul {
      font-size: 1em;
    }

/*---------paragraphs---------*/
      p {
        line-height: 24px;
      }

/***BODY***/
  header,
  footer {
  }

  footer {
    justify-content: space-between;
  }

/***----HOMEPAGE----***/
/**header**/
  #logo {
    padding: 22px 0;
  }

  header nav {
    padding: 42px 0 38px;
  }

  header .content-wrapper {
    justify-content: space-between;
    padding: 0 120px;
  }

/**newsletter**/
  main .aside {
    padding: 47px 0 50px;
  }

  .aside .content-wrapper {
    justify-content: space-around;
    padding: 0 100px;
  }

  .form-description, .form {
    width: 40%;
  }

  .form-description h3 {
    margin: 0;
  }

  .form h3 {
    margin-top: 0;
  }

/**general info**/
  .features {
    padding: 103px 0 91px;
    width: 100%;
  }

  .features-items {
    width: 33.3%;
  }

  .first, .second, .third {
    padding: 98px 0 61px;
  }

/**reviews**/
  main .content-wrapper {
    padding: 99px 0;
  }

/**footer**/
  .contact, .social {
    padding: 102px 0;
    width: 33.3%;
  }

/***----ABOUT PAGE----***/
/**mission**/
  .mission .content-wrapper {
    padding: 96px 0 101px;
  }

/**contact info**/
  .info {
    padding: 97px 0 95px;
  }

  .info .content-wrapper {
    padding: 0;
  }
/***----FAQ PAGE----***/
  .faq {
    padding: 97px 0 99px;
  }

  #faq {
    padding: 0;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
