/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/******BASE STYLES - Header and Footer ******/
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
/***BODY***/
body {
  padding: 0 20px;
}

/*---------headlines---------*/
h1,
h2,
h3 {
  width: 85%;
}

h2 {
}

h3 {
}

/*****HEADER********/
header {
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

#logo {
  padding: 15px 0;
  width: 60%
}

.header-divider {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 17px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  width: 25%;
}

h1 {
  padding: 50px 0 330px;
}

/*-----------------------MOBILE---------------------*/
/*---------------HOMEPAGE---------------*/

/*********HERO AREA********/
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

/*******MAIN*********/
main .form-description {
  padding: 29px 0 35px;
}

/***newsletter***/
.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 29px 0 53px;
}

#button {
  margin-top: 18px;
}

.aside p, input {
  width: 85%;
}

.form-description {
}

.form {
}

/***general info***/
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px 0 63px;
}

.features h2 {
  padding-bottom: 67px;
}

article .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

article {
}

article p {
  padding-bottom: 50px;
}

icon {
  padding-bottom: 40px;
  width: 55%;
}

.features-item-description {
  width: 55%;
}

/**previous retreats**/
main .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px 0 46px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.reviews h2 {
  padding-bottom: 25px;
}

.reviews img {
  padding-bottom: 21px;
  width: 85%;
}

.reviews h3 {
  padding-bottom: 25px;
}

.reviews p {
}

/********FOOTER*******/
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 45%;
  padding: 50px 0 12px;
}

.footer-content h3 {
  padding-bottom: 20px;
}

.contact {
  padding-bottom: 47px;
}

address {
}

.email {
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 52px;
}

.social h3 {
  padding-bottom: 21px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}

.copyright {
  width: 50%;
}

/*---------------ABOUT PAGE---------------*/
/*****MAIN*****/
/**mission**/
.mission .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 85%;
  padding: 50px 0;
}

article .mission-content {
}

/**location**/
.map {
  width: 100%;
}

/**contact info**/
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.info .content-wrapper{
  padding: 52px 0 50px;
}

.contact-info, .chat {
  width: 65%;
}

.email {
}

.chat {
}

.email2 {
}

/*---------------FAQ PAGE---------------*/
/****MAIN****/
/****faq****/
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 85%;
  padding: 50px 0 47px;
}

#faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

 .faq-content h3 {
  padding-bottom: 46px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*************TABLET*************/
@media only screen and (min-width: 768px) {
  /***BODY***/
  body {
    padding: 0 64px;
  }

/***----HOMEPAGE----***/
/**header**/
  #logo, nav {
    width: 50%;
  }

  #logo {
    padding: 31px 0 32px;
  }

  header nav {
    padding: 45px 0 40px;
  }

  header nav ul {
    justify-content: space-around;
  }

  .header-divider {
    width: 0;
  }

  h1 {
    padding: 95px 0 420px;
  }

/**newsletter**/
  .form-description, .form {
    width: 50%;
  }

  main .aside {
    padding: 49px 0 48px;
  }

/**general info**/
  .features {
    padding: 96px 0 92px;
    width: 100%;
  }

  .features-items {
    width: 50%;
  }

  .first, .second {
    padding: 38px 0 30px;
  }

  icon {
    padding: 48px 0 30px;
  }

/**reviews**/
  main .content-wrapper {
    padding: 104px 0 100px;
  }

  .reviews img {
    width: 50%;
  }

  .reviews article {
    width: 50%;
  }

/**footer**/
  .footer-content {
    width: 100%;
  }

  .contact, .social {
    padding: 100px 0 102px;
    width: 50%;
  }

  .copyright {
    width: 100%;
  }

/***----ABOUT PAGE----***/
/**mission**/
  .mission .content-wrapper {
    box-sizing: border-box;
    justify-content: space-between;
    padding: 98px 0;
    width: 100%;
  }
  .mission-content {
    width: 45%;
  }

  .box1 {
    padding-right: 40px;
  }

/**contact info**/
  .info {
    padding: 97px 0;
    width: 100%;
  }

  .contact-info, .chat {
    width: 50%;
  }

/***----FAQ PAGE----***/
  .faq {
    padding: 98px 0 101px;
    width: 100%;
  }

  .faq-content {
    width: 45%;
  }
}

/***************DESKTOP***********/
@media only screen and (min-width: 1200px) {
/***BODY***/
  body {
    padding: 0 120px;
  }

/***----HOMEPAGE----***/
/**header**/
  #logo {
    padding: 22px 0;
  }

  header nav {
    padding: 42px 0 38px;
  }

  h1 {
    padding: 43px 0 435px;
  }

/**newsletter**/
  main .aside {
    padding: 47px 0 50px;
  }
/**general info**/
  .features {
    padding: 103px 0 91px;
    width: 100%;
  }

  .features-items {
    width: 33.3%;
  }

  .first, .second, .third {
    padding: 98px 0 61px;
  }

/**reviews**/
  main .content-wrapper {
    padding: 99px 0;
  }

  .reviews h2 {
    padding-bottom: 89px;
  }

/**footer**/
  .contact, .social {
    padding: 102px 0;
  }

/***----ABOUT PAGE----***/
/**mission**/
  .mission .content-wrapper {
    padding: 96px 0 101px;
  }

/**contact info**/
  .info {
    padding: 97px 0 95px;
  }

/***----FAQ PAGE----***/
  .faq {
    padding: 97px 0 99px;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
